body {
    background-color: black;
}

#Title {
    color: white;
}

#otherPiece {
    border: 1px solid white;
    position: absolute;
    left: 50px;
}

#gameCanvas {
    border: 1px solid white;
    position: absolute;
    left: 180px;
}

#nextGrid {
    border: 1px solid white;
    position: absolute;
    left: 490px;
}

#GameTips {
    border: 1px solid white;
    position: absolute;
    left: 490px;
    top: 465px;
    width: 144px;
    height: 155px;
    color: white;
}

#tips {
    list-style-type: none;
    margin-left: -30px;
    margin-top: 8px;
}

#tips li {
    padding-bottom: 10px;
    margin-bottom: 0px;
}