#otherPiece {
    position: absolute;
    left: 50px;
}

#container{
    width: 670px;
    height: 800px;
}

#gameCanvas {
    position: absolute;
    left: 180px;
}

#nextGrid {
    position: absolute;
    left: 490px;
}

#GameTips {
    position: absolute;
    left: 490px;
    top: 510px;
    width: 144px;
    height: 155px;
}

#tips {
    list-style-type: none;
    margin-left: -30px;
    margin-top: 8px;
}

#tips li {
    padding-bottom: 10px;
    margin-bottom: 0px;
}